@import url('https://fonts.googleapis.com/css?family=Orbitron');

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-family: Orbitron;
}
html{
	height: 100%;
	user-select: none;
}
body{
	background-color: #353a40;
	min-height: 100%;
	background-attachment: fixed;
}
#navbar{
	list-style-type: none;
	position: absolute;
	right: 0;
	top: 0;
}
#navbar li a{
	display: block;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	opacity: 0.3;
	transition: 0.3s;
	width: 80px;
	height: 80px;
	font-size: 40px;
	line-height: 100px;
}

#navbar ul li a:hover{
	opacity: 0.7;
}

/* ---------------- */

#controls{
	font-size: 20px;
	padding: 1em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	text-align: center;
	line-height: 100px;
	height: 100px;
	font-size: 4em;
	background-color: rgba(0, 0, 0, 0.5);
}
#header a{
	color: #ffffff;
	text-decoration: none;
}

.group{
	margin-left: 0.4em;
	margin-right: 0.4em;
	margin-bottom: 0.8em;
	/*border-radius: 0.7em;*/
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
	flex-grow: 1;
}
.group-head{
	min-width: 250px;
	background-color: #212121;
	border-bottom: 0.05em solid #2ecc71;
	/*border-top-left-radius: 0.14em;
	border-top-right-radius: 0.14em;*/
	text-align: left;
	padding-left: 15px;
	font-size: 3.5em;
	line-height: 1.5em;
	color: #fff;
}
.group-head:hover .group-head-off{
	opacity: 1;
}
.group-head-off{
	color: red;
	float: right;
	padding-right: 15px;
	padding-left: 15px;
	transition: color 0.4s, transform 0.3s, opacity 0.3s;
}
.group-head-off:hover{
	cursor: pointer;
	transform: scale(0.8);
}
.group-head-off:active{
	color: #6E0101;
	transition: color 0s;
}
.group-items{
	display: flex;
	height: 7em;
}

.group-item{
	flex-grow: 1;
	/*flex-basis: 0;*/
	padding: 0.2em;
	text-align: center;
	color: #fff;
	background-color: rgba(38, 38, 38, 0.7);
}
/*.group-item:first-child{
	border-bottom-left-radius: 0.14em;
}
.group-item:last-child{
	border-bottom-right-radius: 0.14em;
}*/

.light{
	font-size: 4.5em;
	color: #2ecc71;
	min-width: 50px;
	transition: color 0.3s linear;
	cursor: pointer;
	box-sizing: border-box;
	padding-left: 0.4em;
	padding-right: 0.4em;

}
.light i{
	transition: 0.3s linear;
	opacity: 0.7;
}
.light:hover{
	border-bottom: 0.06em solid #36A17C;
}
.temp{
	display: flex;
	align-items: center;
	font-size: 4em;
}
.setting{
	cursor: pointer;

	font-size: 4em;
	padding-left: 0.4em;
	padding-right: 0.4em;
}
.setting:hover{
	border-bottom: 2px solid #36A17C;
}

.light[data-state="on"]{
	color: #76FF03;
	border-bottom: 0.06em solid #2ecc71;
}
.light[data-state="on"] i{
	opacity: 1;
}
.temp a{
	text-decoration: none;
}
.temp[data-temp="cold"] a{
	color: #51B1F2;
}
.temp[data-temp="normal"] a{
	color: #16a085;
}
.temp[data-temp="hot"] a{
	color: #e74c3c;
}

#all-off{
	text-transform: uppercase;
	position: fixed;
	text-align: center;
	color: #999999;
	transition: 0.4s;
	cursor: pointer;
	bottom: -20px;
}
#all-off i{
	transition: 1s;
}
#all-off:hover{
	bottom: 8px;
	color: #e0e0e0;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}
#all-off:hover i{
	color: #BD0000;
}
#all-off:active{
	color: #de3a3a;
	transition: color 0s;
}
.setting{
	color: #e0e0e0;
}
.error{
	margin-right: auto;
	margin-left: auto;
	margin-top: 1em;
	box-sizing: border-box;
	background-color: #d9534f;
	color: #FFF;
	text-align: center;
	font-size: 3.5em;
	line-height: 1.4em;
	padding: 0.25em 0.5em;
	border: 1px solid #d43f3a;
	border-radius: 2px;
	cursor: pointer;
	opacity: 0.8;
}
.error:hover{
	background-color: #c9302c;
	border: 1px solid #ac2925;
}

@media (min-device-width: 640px){
	html{
		background-image: url(./img/bg.jpg);
		background-attachment: fixed;
		background-size: cover;
	}
	body{
		background-color: rgba(0,0,0,0.4);
	}
	#controls{
		flex-direction: row;
	}
	.group{
		font-size: 10px;
	}
	.group-head-off{
		opacity: 0;
	}
	.error{
		font-size: 1.5em;
	}
}
